---
layout: page
title: 历史文章
permalink: /archive/
prefix: <i class="fa-solid fa-list"></i>
---

<p style="color: dimgray;">文章总数： {{ site.posts | size }}</p>
{% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y 年 %m 月'"  %}
{% for yearMonth in postsByYearMonth %}
  <h4 style="color: dimgray;">{{ yearMonth.name }}（ {{ yearMonth.items | size }} 篇）</h4>
    <ul>
      {% for post in yearMonth.items %}
        <li><a href="{{ post.url }}" style="font-weight: bold;">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
{% endfor %}
