---
layout: page
title: 标签
permalink: /tags/
prefix: <i class="fa-solid fa-tags"></i>
---

{% assign tags = site.tags | sort %}
{% for tag in tags %}
 <span class="site-tag" style="margin: 1em; white-space: nowrap; line-height: 200%;">
    <a href="/tag/{{ tag | first | downcase }}.html"
    style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%; font-weight: bold;">
    {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
    </a>
</span>
{% endfor %}