---
layout: default
title: 首页
---
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    {% octicon clock height:16 %} {{ post.date | date: "%Y 年 %m 月 %d 日" }}
    {% if post.tags != empty %}
    ｜ {% octicon tag height:16 %} {{ post | tags }}
    {% endif %}
  </p>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      <i class="fas fa-angle-left"></i> 上一页
    </a>
  {% else %}
    <span class="previous invalid"><i class="fas fa-angle-left"></i> 上一页</span>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">下一页 <i class="fas fa-angle-right"></i></a>
  {% else %}
    <span class="next invalid">下一页 <i class="fas fa-angle-right"></i></span>
  {% endif %}
  <span class="page_number " style="color: gray; margin-left: 1em;">
    页号：{{ paginator.page }} / {{ paginator.total_pages }}
  </span>
</div>
