<footer class="site-footer h-card">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
          <li class="p-name">{{ site.author.name | escape }}  <i class="far fa-copyright"></i> 2018 - 2022</li>
          {% endif -%}
          {% if site.author.email -%}
          <li><i class="fas fa-at"></i> <a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
          <li><i class="fab fa-github"></i> <a href="https://github.com/ZJUGuoShuai">ZJUGuoShuai</a></li>
          <li><i class="fa-brands fa-stack-overflow"></i> <a href="https://stackoverflow.com/users/8102500/guo-shuai">Guo Shuai</a></li>
        </ul>
        {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
        <a href="https://beian.miit.gov.cn/" target="_blank">浙 ICP 备 2022004396 号</a>
        <p>本站已支持 IPv6 和 HTTP/2</p>
      </div>
    </div>

    <!-- <div class="footer-col social-links">
      {%- include social.html -%}
    </div> -->

  </div>

</footer>