<script src="/assets/pseudocode.js"></script>
<script>
  let pseudocodes = document.querySelectorAll(".language-pseudocode");
  let options = {
    lineNumber: true
  };
  pseudocodes.forEach((pse) => {
    let code = pse.textContent;
    let parentEl = pse.parentElement;
    pseudocode.render(code, parentEl, options);
    pse.remove();
    $(parentEl).replaceWith($('<div>' + parentEl.innerHTML + '</div>'));
  })
</script>
<script src="https://giscus.app/client.js"
        data-repo="ZJUGuoShuai/blog-comments"
        data-repo-id="R_kgDOH0RpnQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOH0Rpnc4CQ0Qm"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>