---
layout: default
---

<h1>{{ page.title }}</h1>

<div style="margin-bottom: 1em;">
  {% octicon clock height:16 %}&nbsp;&nbsp;{{ page.date | date: "%Y 年 %m 月 %d 日" }}
  <span class="tags">{% octicon tag height:16 %}
    {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    &nbsp;<a href="/tag/{{ tag_name | downcase }}">
      <nobr>{{ tag_name }}</nobr>
    </a>&nbsp;
    {% endfor %}
  </span>
</div>


{% if page.toc %}
<div class="toc">
  <h4>目录：</h4>
  {% toc %}
</div>

{% endif %}

{{ content }}

{% include scripts.html %}