---
layout: default
---
<h1>标签：{{ page.tag }}</h1>
<ul>
  {% for post in page.posts %}
  <li><a href="{{ post.url }}" style="font-weight: bold;">{{ post.title }}</a>（ {{ post.date | date: "%Y 年 %m 月 %d 日" }} | {{ post | tags }} ）</li>
  {% endfor %}
</ul>

<h2>标签云</h2>
{% assign tags = site.tags | sort %}
{% for tag in tags %}
 <span class="site-tag" style="margin: 1em; white-space: nowrap; line-height: 200%;">
    <a href="/tag/{{ tag | first | downcase }}.html"
    style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%; font-weight: bold;">
    {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
    </a>
</span>
{% endfor %}